includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - src
        - tests
    excludePaths:
        - src/Filament/Pages/CustomFieldsPage.php
        - src/Livewire
        - tests
    ignoreErrors:
        # Ignore unused trait warnings for library traits meant to be consumed by package users
        - identifier: trait.unused